@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.App {
  font-family: "Dela Gothic One", cursive;
  background-color: #696969;
  flex: auto;
}

body{
    background-color: #696969;
    flex: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

html{
    background: #696969;
}

*{
    flex: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.root{
    background-color: #696969;
}
